# This file is used to set environment variables for the application.
# Make sure to rename this file to .env.local and fill in the values.
# before running the application.
# The values provided here are just examples and should be replaced with your actual configuration.


# Database
DATABASE_URL=postgresql://user:pass@localhost:5432/mydb

# Auth
USERS_SECRET_KEY=supersecretkey
JWT_LIFETIME_SECONDS=3600
COOKIE_NAME=biscuit
COOKIE_MAX_AGE=3600
COOKIE_SECURE=False
COOKIE_HTTPONLY=True
COOKIE_SAMESITE=lax

# CORS
CORS_ORIGINS=http://localhost:8000,http://localhost
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOW_METHODS=GET,POST,PUT,DELETE
CORS_ALLOW_HEADERS=Authorization,Content-Type
