# This file is used to set environment variables for the application.
# Make sure to rename this file to .env and fill in the values.
# before running the application.
# The values provided here are just examples and should be replaced with your actual configuration.


# .env.local / .env.prod
DATABASE_URL=postgresql+asyncpg://test_user:test_password@database:5432/test_db
POSTGRES_DB=test_db
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password
POSTGRES_HOST=database
POSTGRES_PORT=5432